In [33]:
import pandas as pd
# import matplotlib.pyplot as plt

# pd.set_option('display.mpl_style', 'default')
# plt.rcParams['figure.figsize'] = (15, 5)

stockdata = pd.read_csv('neogrid.csv', parse_dates = ['Date'], index_col='Date')
stockdata[:100]

                Close       Open       High        Low      Volume
Date
2021-01-04   R$ 6.69    R$ 7.30    R$ 7.37    R$ 6.63   14,584,900
2021-01-05   R$ 7.10    R$ 6.64    R$ 7.12    R$ 6.32   12,558,300
2021-01-06   R$ 7.24    R$ 7.16    R$ 7.39    R$ 7.05    9,855,600
2021-01-07   R$ 7.43    R$ 7.35    R$ 7.65    R$ 7.27    8,524,800
2021-01-08   R$ 7.34    R$ 7.51    R$ 7.58    R$ 7.13    5,639,600
...               ...        ...        ...        ...         ...
2021-05-24   R$ 6.50    R$ 6.52    R$ 6.52    R$ 6.40    1,349,800
2021-05-25   R$ 6.60    R$ 6.54    R$ 6.69    R$ 6.49    1,612,200
2021-05-26   R$ 6.74    R$ 6.60    R$ 6.84    R$ 6.57    1,693,100
2021-05-27   R$ 6.90    R$ 6.76    R$ 6.90    R$ 6.71    1,321,600
2021-05-28   R$ 6.79    R$ 6.91    R$ 6.96    R$ 6.75      977,600

[100 rows x 5 columns]