In [4]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

stockdata = pd.read_csv('neogrid.csv', infer_datetime_format = False, parse_dates = ['Date'], index_col='Date')
stockdata.plot

            Close  Open  High   Low           Volume
Date
2021-01-04   6.69  7.30  7.37  6.63   14,584,900.00
2021-01-05   7.10  6.64  7.12  6.32   12,558,300.00
2021-01-06   7.24  7.16  7.39  7.05    9,855,600.00
2021-01-07   7.43  7.35  7.65  7.27    8,524,800.00
2021-01-08   7.34  7.51  7.58  7.13    5,639,600.00
...           ...   ...   ...   ...              ...
2021-07-20   7.02  6.63  7.07  6.53    6,499,800.00
2021-07-21   7.12  7.15  7.25  6.95    6,372,800.00
2021-07-22   7.10  7.12  7.28  6.99    2,119,500.00
2021-07-23   7.00  7.10  7.11  6.92    1,686,200.00
2021-07-26   6.73  7.02  7.18  6.71    2,296,300.00

[139 rows x 5 columns]